$dark-blue: #07374a;
$dark-omar: #1980a8;
$light-blue: #25b79f;
$cool: #494bff;
$dark-cool: #5943cb;
$light-red: #ff6363;
$pink: #ffc2ba;
$yellow: #ffca02;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$font-patua: 'Patua One', cursive;
