@media (max-width: 795.9px) {
  nav.teal {
    height: fit-content;
  }
  div.nav-container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    line-height: 40px;
  }
  #nav-div {
    display: none;
    width: 100% !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    .first-li {
      margin-left: 0px !important;
    }
    // & li,
    // & a {
    //   padding: 0px !important;
    // }
  }
  ul.nav-div-right {
    justify-content: center;
    gap: 0 !important;
  }
  .nav-toggole {
    display: flex !important;
  }
  #nav-toggole-icon {
    cursor: pointer;
  }
  .brand-hide {
    display: none !important;
  }
  .show {
    display: flex !important;
  }
  .avatar.avatar-small.mr-2 {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 543px) {
  #box-img {
    text-align: center;
  }
}
